.container{
    width: 100%;
    background-color: rgb(121, 171, 218);
    display: flex;
    flex-wrap: wrap ;
}
.item{
    height: 300px;
    width: 300px;
    background-color: orange;
    margin: 10px;
}